:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1280px;

  min-width: 320px;
  min-height: 100vh;
}

section {
  padding: 1rem;
  width: 100vw;
}

section:nth-child(odd) {
  background-color: black;
  width: 100vw;
  color: white;
}

button {
  background-color: orangered;
  padding: 1rem 2rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

#contact-button {
  background-color: white;
  color: black;
  border: solid 3px orangered;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2rem;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit;
}

a:hover {
  color: #888;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav > ul {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 1;
}

section {
  height: 100vh;
}

#home {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 5rem;
}
