:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  font-size: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

header {
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1280px;

  min-width: 320px;
  min-height: 100vh;
}

.button {
  background-color: orangered;
  padding: 1rem 2rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: white;
  border: 2px solid orangered;
}

.button-hollow {
  background-color: white;
  padding: 1rem 2rem;

  font-weight: 500;
  font-size: 1rem;
  border: 2px solid orangered;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: black;
}

section {
  padding: 1rem;
  width: 100vw;
  min-height: 100vh;
}

section:nth-child(odd) {
  background-color: black;
  width: 100vw;
  color: white;
}

button {
  background-color: orangered;
  padding: 1rem 2rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

#contact-button {
  background-color: white;
  color: black;
  border: solid 3px orangered;
}

h1 {
  font-size: 3.2rem;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav > ul {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 1;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  transition: transform 0.3s ease-in-out;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

#home {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 5rem;
}

.tech-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  color: #333;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.07);
  transition: 0.3s;
  width: 80%;
  font-size: 0.8rem;
  margin: auto;
  border-radius: 20px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.card:hover {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.15), 0 25px 25px rgba(0, 0, 0, 0.1);
}

.card h4,
.card p,
.card ul {
  color: rgba(255, 255, 255, 0.8); /* white text with some transparency */
}
.card h2,
.card h3 {
  color: orangered;
}

.project-card {
  color: #333;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.07);
  transition: 0.3s;
  width: 80%;
  font-size: 0.8rem;
  margin: auto;
  border-radius: 20px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-align: center;
  margin-top: 1rem;
}

.project-card:hover {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.15), 0 25px 25px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.project-card p {
  color: black; /* white text with some transparency */
}

.project-card a.button {
  color: white;
  border: 2px solid orangered;
  display: block;
  margin: 1rem auto 0;
}

#contactForm {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

#contactForm label {
  margin-bottom: 10px;
  font-weight: bold;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#contactForm textarea {
  resize: none;
  height: 100px;
}

#contactForm input[type="submit"] {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: orangered;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

/* Then, as screen size increases, adjust layout */
@media screen and (min-width: 600px) {
  :root {
    font-size: 112.5%; /* 1rem will be 18px */
  }

  h1 {
    font-size: 2.5rem;
  }

  .card {
    width: 75%;
  }
  .project-card {
    width: 72.5%;
  }

  #contactForm {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 112.5%; /* 1rem will be 20px */
  }

  h1 {
    font-size: 3rem;
  }

  .card {
    width: 60%;
  }

  .project-card {
    width: 62.5%;
  }

  #contactForm {
    width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  nav > ul {
    transform: translateX(100%);
  }

  .nav-active {
    transform: translateX(0);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .burger {
    display: block;
  }

  .nav-links {
    position: fixed;
    background-color: #000000;
    margin-top: 0;
    color: white;
    height: 100vh;
    width: 50%;
    z-index: 99;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.5s ease-in-out;
  }

  .burger {
    display: block;
  }
}
